body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #004d00; /* verde Palmeiras */
    background-image: url("/foto/escudo.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.profile {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.foto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.texto {
    font-size: 18px;
    line-height: 1.4em;
}

.info {
    font-size: 14px;
    font-style: italic;
    opacity: 0.9;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.lista {
    margin-left: 20px;
}

.lista li {
    margin-bottom: 4px;
}

/* Galeria */
.galeria {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.imgbox {
    position: relative;
}

.imgbox img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid white;
    display: block;
}

/* Nome no hover */
.imgbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    opacity: 0;
    transition: 0.3s ease;
}
.imgbox:hover img {
    box-shadow: 0 0 15px 4px #0f8f3c; /* verde oficial mais fechado */
    transform: scale(1.05);
    transition: 0.3s ease;
}

.imgbox:hover span {
    opacity: 1;
}

/* Faixas laterais estilo Palmeiras */
.faixa-esquerda, .faixa-direita {
    position: fixed;
    top: 0;
    width: 40px;        /* Largura da faixa */
    height: 100vh;      /* Altura total */
    background-color: #0f8f3c; /* Verde Palmeiras */
    z-index: 1;         /* Fica atrás do conteúdo */
    opacity: 0.9;
}

/* Esquerda */
.faixa-esquerda {
    left: 0;
}

/* Direita */
.faixa-direita {
    right: 0;
}
