body {
  margin: 0;
  background-color: #0b1440;
  color: white;
  font-family: "Poppins", Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  gap: 30px;
}

/* ESQUERDA */
.left {
  width: 65%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-img {
  width: 160px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  border: 3px solid #00bfff;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #00bfff;
}

.profile p {
  margin: 4px 0;
  font-size: 16px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 2px solid #00bfff;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #00bfff;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

button {
  background-color: #1e88e5;
  color: white;
  border: none;
  padding: 10px 75px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background-color: #1976d2;
}

.images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.images img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #00bfff;
}

/* DIREITA */
.right {
  width: 35%;
}

.card {
  background-color: #1565c0;
  padding: 30px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.card ol,
.card ul {
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 1.8;
  font-size: 16px;
}

.card ul li img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-left: 8px;
  border-radius: 4px;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .left,
  .right {
    width: 100%;
  }

  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

